# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.DS_Store
*/.DS_Store

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace


# ignore distribution files
dist/

# ignore swift package manager files
.swiftpm/
.build/

# ignore artifacts
.DS_Store
*.orig
iOS Example/iOS Example.xcworkspace/xcuserdata/

# Firebase Example
iOS Example/iOS Example/GoogleService-Info.plist
iOS Example/GoogleService-Info.plist
GoogleService-Info.plist